    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        
        <!-- Navigation Bar -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-link active" aria-current="page" href="/">Home</a>
            
            <a class="nav-link"  href="/reservation">Find Reservation</a>
            

            
          </div>
        </div>
      </div>
    </nav>
<br>
<br>
<div class="row">
    <div class="col">
      {{#each car}}
      <div class="card" id "{{id}}"style="width: 18rem;">
        <h1>🚗</h1>
          <div class="card-body">
            <h5 class="card-text">{{make}}</h5>
            <p>{{model}}</p>
            <p>{{model_year}}</p>
          </div>
          <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
            <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off">
            <label class="btn btn-outline-primary" for="btncheck1">Select</label>
        </div>
    </div>
    {{/each}}

    <script src="./js/login.js"></script>